@import 'variables';

#scroll-up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: row-reverse;

  button {
    padding: 25px 25px;
    border: 2px solid red;
    background-color: red;
    border-radius: 50%;

    &:hover {
      cursor: pointer;
    }

    i {
      color: white;
    }
  }
}