@import 'variables';

#main-head {
  background-color: #d89820;
  padding-top: 50px;
  height: 450px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("/images/brick-wall-dark.png");
  color: white;
  min-width: 400px;
}