@import 'variables';

.new-tweet {
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  font-weight: 600;
}

#tweet-text {
  display: flex;
  flex-direction: column;
  resize: none;
  background: transparent;
  border: none;
  height: 40px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
}

.new-tweet div {
  border-top: $top-grey;
  padding-top: 14px;
  font-family: "Bungee";
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


.new-tweet div button {
  background-color: #4056A1;
  color: white;
  border-style: hidden;
}

