nav {
  background-color: transparent;
  color: #FFFFFF;
  height: 120px;
  padding: 0.5% 1.5% 0 1.5%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}
nav #leftNav {
  font-size: 40px;
  font-family: "Bungee";
}
nav #right-Nav {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  border: none;
}
nav #right-Nav:hover {
  cursor: pointer;
}
nav #right-Nav #doubleDown {
  color: red;
}
