.new-tweet {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  font-weight: 600;
}

#tweet-text {
  display: flex;
  flex-direction: column;
  resize: none;
  background: transparent;
  border: none;
  height: 40px;
  width: 100%;
}

#new-bot {
  border-top: 4px;
  border-style: solid;
  border-color: #545149;
  padding-top: 14px;
  font-family: "Bungee";
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#tweet-but {
  background-color: #4056A1;
  color: white;
  border-style: hidden;
}
